<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/plantillaNavegacion.css' %}">
</head>
<body>
    {% include "plantillaNavegacion.html" %}
    <h1>Escuela de futbol mixto.</h1>
    <img class="logo" src='{% static "imagenes/Banderin.jpg"%}' alt="Aca hay una img">
    {% block content %}
    
    {% endblock %}
    <p>Este es parte del pie de pagina </p>
    <script type="text/javascript" src= '{% static "js/plantillaPadre.js" %}'></script>
</body>
</html>